
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;

}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{

    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
    

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.bg-background{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{

    color: #727272;
}
.text-dark-gray{
    color: #000000;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-cont{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
.images{
  width: 100%;  
}
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
    }
    
}
.teams{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.fea{
    color:#FF900E;
}

